#div_title {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding: 2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("https://is1-ssl.mzstatic.com/image/thumb/Purple71/v4/3e/fe/af/3efeaf20-2d10-8329-e5b0-2c4f6634af83/source/512x512bb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

#kural_err_disp {
    padding: 0.5%;
    color: black;
}

#kuralNum {
    width: 30%;
    font-size: x-large;
}

button {
    height: 3.9vw;
    width: 13%;
    font-weight: bolder;
}

.mx-auto {
    width: 150vw;
}

h2 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 14vw;
}

table {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

th {
    color: white;
    font-size: xx-large;
    align-items: center;
}

th,
td {
    padding: 1vw;
    font-weight: bold;
    font-size: large;
}